/* 
PRIMARY
- Light red: hsl(0, 100%, 67%)
- Orangey yellow: hsl(39, 100%, 56%)
- Green teal: hsl(166, 100%, 37%)
- Cobalt blue: hsl(234, 85%, 45%) 

GRADIENTS
- Light slate blue (background): hsl(252, 100%, 67%)
- Light royal blue (background): hsl(241, 81%, 54%)
- Violet blue (circle): hsla(256, 72%, 46%, 1)
- Persian blue (circle): hsla(241, 72%, 46%, 0)

NEUTRAL
- White: hsl(0, 0%, 100%)
- Pale blue: hsl(221, 100%, 96%)
- Light lavender: hsl(241, 100%, 89%)
- Dark gray blue: hsl(224, 30%, 27%)
*/

html {
    font-family: 'Hanken Grotesk';
    font-size: 18px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    padding: 0;
    max-width: 375px;
    max-height: 810px;
}

header {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: hsl(0, 0%, 100%);
    text-align: center;
    border-bottom-left-radius: 1.8rem;
    border-bottom-right-radius: 1.8rem;
}

h1 {
    margin: 0;
    padding: 1.3rem 0 0 0;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.658);
}

.scored {
    margin: auto auto;
    width: 140px;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
}

h2 {
    font-size: 3rem;
    padding: 1.3rem 0 1.3rem 0;
    margin: 1.3rem 0;
}

h3 {
    padding: 0 0 1.3rem 0;
    margin: -2.5rem 0 0 0;
    font-size: .9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.575);
}

h4 {
    font-size: 1.3rem;
    padding: 0;
    margin: 1.4rem 0 .4rem 0;
}

p {
    margin: auto auto;
    padding: 0 0 2.3rem 0;
    width: 70%;
    text-align: center;
    font-size: .9rem;
    color: rgba(255, 255, 255, 0.685);
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 85%;
    margin: 1rem 1.4rem 1rem 1.4rem;
    font-weight: 600;
}

tr {
    border-radius: .6rem;
    display: block;
    margin: 0 0 .9rem 0;
}

th {
    font-weight: 600;
    padding: .2rem 0 .6rem 0;
}

td {
    font-size: .9rem;
    padding: .95rem 0;
}


.Reaction {
    background-color: hsla(0, 100%, 67%, 0.082);
    color: hsl(0, 100%, 67%);
}

.Memory {
    background-color: hsla(39, 100%, 56%, 0.082);
    color: hsl(39, 100%, 56%);
}

.Verbal {
    background-color: hsla(166, 100%, 37%, 0.082);
    color: hsl(166, 100%, 37%);
}

.Visual {
    background-color: hsla(241, 100%, 89%, .25);
    color: hsl(234, 85%, 45%);
}

.ico {
    width: 5%;
    padding: .5rem .8rem .3rem .8rem;
    text-align: center;
}

.cat {
    text-align: left;
}

.sco {
    padding: 0 .4rem;
    text-align: right;
    color: black;
}

.outOf {
    width: 3rem;
    padding: 0 0 0 0;
    text-align: left;
    color: rgba(0, 0, 0, 0.35);
    font-weight: 700;
}

button {
    width: 84%;
    display: block;
    margin: -.3rem auto;
    font-size: .9rem;
    font-weight: 500;
    text-align: center;
    background-color: hsl(224, 30%, 27%);
    padding: 1rem;
    color: aliceblue;
    border-radius: 2rem;
    border: 0;
    transition: all .5s ease-in-out;
}

button:hover {
    background-color: hsl(241, 81%, 54%);
    text-shadow: .1rem .1rem .5rem rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: .1rem .2rem .8rem rgba(0, 0, 0, 0.26);;
}

#data tr:hover {
    text-shadow: .1rem .1rem .4rem rgba(126, 126, 126, 0.2);
    cursor: pointer;
}

@keyframes rowFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn1 {
    animation-name: rowFadeIn;
    animation-duration: .5s;
}

.fadeIn2 {
    animation-name: rowFadeIn;
    animation-duration: 2s;
}
.fadeIn3 {
    animation-name: rowFadeIn;
    animation-duration: 5s;
}