/* 
PRIMARY
- Light red: hsl(0, 100%, 67%)
- Orangey yellow: hsl(39, 100%, 56%)
- Green teal: hsl(166, 100%, 37%)
- Cobalt blue: hsl(234, 85%, 45%) 

GRADIENTS
- Light slate blue (background): hsl(252, 100%, 67%)
- Light royal blue (background): hsl(241, 81%, 54%)
- Violet blue (circle): hsla(256, 72%, 46%, 1)
- Persian blue (circle): hsla(241, 72%, 46%, 0)

NEUTRAL
- White: hsl(0, 0%, 100%)
- Pale blue: hsl(221, 100%, 96%)
- Light lavender: hsl(241, 100%, 89%)
- Dark gray blue: hsl(224, 30%, 27%)
*/

html {
    font-family: 'Hanken Grotesk';
    font-size: 18px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    max-width: 375px;
    max-height: 810px;
}

header {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: hsl(0, 0%, 100%);
    text-align: center;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

h1 {
    margin: 0;
    padding: 1rem;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.658);
}

h2 {
    font-size: 3rem;
}
h3 {
    padding: 0 .5rem 1rem .5rem;
    font-size: .9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.575);
}

.scored {
    margin: auto auto;
    /* padding: .4rem; */
    width: 50%;
    /* height: 50%; */
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
}

@keyframes rowFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: rowFadeIn;
    animation-duration: 1s;
}